<!DOCTYPE html>
<html>
<head>
    <sessionState mode="Off" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/Style.css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body ng->
    @if(@Request.Cookies.Get("info") == null)
    {
        @Html.Partial("NavBarOff")
    }
    else
    { 
        @Html.Partial("NavBarOn")
    }
    <div class="container">
        
        <div class="container body-content">
            @RenderBody()
        </div>
        <hr />
        <footer>
            <p>Victor Santos</p>
            <p>Pedro Câmara</p>
            <p>&copy; @DateTime.Now.Year</p>
        </footer>
    </div>

    <link rel="stylesheet" type="text/css" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
    
    @RenderSection("scripts", required: false)
</body>
</html>
